<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delete Car</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>

<body class="body">
    <h1 class="deletecarheader">Enter Vehicle ID to Delete:</h1>
    <img src="{{ url_for('static', path='deletecar.png') }}" height="150" width="150"> <br> <br>
    <form id="deleteCarForm" method="post" action="#">
        <label class="VehicleID" for="vehicleId">Vehicle ID:</label>
        <input class="inputboxes" type="number" id="vehicleId" name="vehicleId" required><br><br>

        <input class="submitbutton" type="submit" value="Delete Car">
    </form>




    <script>
        document.getElementById('deleteCarForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const enteredVehicleId = parseInt(document.getElementById('vehicleId').value);

            fetch(`/delete_car/${enteredVehicleId}`, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>

</body>

</html>
