/* some really basic css formatting. confusing af. but hey if it works why fix it */

/* styling elements here that are common to most pages (basic background color and font */
.body {
    background-color: #ececec;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-options {
    font-size: 20px;
    color: #142d4c;  
}

.logostyling {
    text-align: center;
    background-color: #023047;
    fill: #023047;
}

.submitbutton {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #219ebc;
    background-color: #023047;
}

.inputboxes {
    font-size: 20px;
}

#button-style{

  background-color: #219ebc;
  font-style: italic;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration:solid;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*----------------------- index.html stuff ---------------------------------------------------*/

.indexheader {
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
}

.loginheretext {
    color: #142d4c;
    font-weight: bold;
    font-size: 25px;
}

/*----------------- admin-page.html ---------------------------------------------------*/

.adminheader {
    text-align: left;
    color:#142d4c;
    font-size: 30px;
}

.adminlogostyling {
    text-align: left;
}

/*----------------- createcar.html ---------------------------------------------------*/

.createcarheader {
    text-align: left;
    color:#142d4c;
    font-size: 35px;
}

#carForm {
    font-size: 20px;
    color: #142d4c; 
    font-weight: bold;
}

/*----------------- deletecar.html ---------------------------------------------------*/

.VehicleID {
    font-size: 20px;
    color: #142d4c; 
    font-weight: bold;
}

/*----------------- updatecar.html ---------------------------------------------------*/

.updatecartext {
    font-size: 20px;
    color: #142d4c; 
    font-weight: bold; 
}

/*----------------- createcustomer.html ---------------------------------------------------*/

.customer-header{
    background-color: #023047;
    text-align: left;
    color: antiquewhite;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
}

.sign-up{
    margin-left: 30px;
    padding-top: 10px;
    padding-left: 20px;
    width: 350px;
    height: 370px;
    background-color: antiquewhite;
    font-style: bold;
    color: #219ebc;
}

.form{
    text-align: left;
    margin-left: 20px;
}