<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Car Rental Co. </title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body class="body">
  <h1 class="indexheader"> Hello, {{ name }}! </h1>
  <h1 class="indexheader"> Welcome to our Car Rental Service service! </h1>

  <div class="logostyling">
    <img src="../img/landingpagelogo.webp">
  </div>

  <h2 class="loginheretext"> 
    Select your login below: 
  </h2>
  <div class="login-options">
    <ul>
      <li> <a href="customer-login.html">Customer Login</a> </li>
      <li> <a href="admin-page.html">Admin Page </a> </li>
    </ul>
  </div>
</body>

</html>